*{
    box-sizing: border-box;
}
#home{
    background-color: rgba(153, 0, 204);
    padding: 1px;
}
#home label, h1{
    color:#f1f1f1;
}
#data h2{
    font-size: 20px;
    text-align: center;
    background:linear-gradient(rgb(70, 158, 240),rgb(34, 115, 129));
    color:#f1f1f1;
}
#data h3{
    font-size: 20px;
    background:rgb(96, 132, 167);
    color:#f1f1f1;
}
.element{
    border:1px solid rgba(153, 0, 204, 0.24);
    padding:10px;
    margin-top:10px;
}
.key{
    color:#363636;
}
.val{
    color:rgb(88, 88, 88);
}
.my-btn{
    background-color: rgb(70, 158, 240);
    color:#f1f1f1;
}
#data p{
    word-break: break-all;
}